<?xml version="1.0"?>

<configuration>
    <system.webServer>
    <serverRuntime enabled="true" frequentHitThreshold="1"  frequentHitTimePeriod="00:00:20" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />

             <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
             <mimeMap fileExtension=".mp3" mimeType="audio/mp3" />

             <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
             <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
             <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
             <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
             <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
     </staticContent>
     <rewrite>
       <rules>
         <rule name="Force HTTPS" enabled="true">
           <match url="(.*)" ignoreCase="false" />
           <conditions>
             <add input="{HTTPS}" pattern="off" />
           </conditions>
           <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
         </rule>
       </rules>
     </rewrite>
    </system.webServer>
</configuration>
